.Darkmode{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:1rem;
  width : 100vw;
  height : 100vh;
  background-color: rgb(26, 26, 26);
  font-size: 1.3rem;
  font-weight: 600;
  color:aquamarine;
}

.switchbtn{
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  width:80px;
  height:80px;
  border-radius: 50%;
  color:rgb(0, 73, 136);
  /* background-color: rgb(72, 63, 63); */
  border: 0.01rem solid gray;
  box-shadow: rgba(95, 95, 162, 0.25) 0px 50px 100px -20px, rgba(237, 237, 237, 0.3) 0px 30px 60px -30px, rgba(54, 146, 239, 0.35) 0px -2px 6px 0px inset;

}